.Main {
  display: flex;
  background-color: #222629;
  background-image: url('../../assets/images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.Main__content {
  width: calc(100% - 105px);
  height: 100vh;
}
