@import '../App.scss';

.Main {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  background-color: $black;
  background-image: url('../../assets/images/Background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow-x: hidden;

  .Main__content {
    width: calc(100% - 105px);
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;

    .Main__content {
      height: calc(100% - 100px);
      width: 100vw;
    }
  }
  @media screen and (max-width: 425px) {
    .Main__content {
      height: calc(100% - 70px);
    }
  }
}
