@import '../App.scss';

.skills {
  @include section(5% 0 0 130px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    @include title;
  }

  .skills__images {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 50px;
    grid-template: {
      columns: repeat(auto-fit, 100px);
      rows: auto;
    }
    grid-column-gap: 150px;
    grid-row-gap: 50px;

    img {
      height: 100px;
      align-self: center;
      justify-self: center;
    }

    @media screen and (max-width: 425px) {
      margin-top: 30px;
      margin-left: 10px;
      grid-template: {
        columns: repeat(auto-fit, 60px);
        rows: auto;
      }
      grid-column-gap: 80px;
      grid-row-gap: 50px;

      img {
        height: 80px;
      }
    }

    @media screen and (max-width: 375px) {
      grid-column-gap: 50px;
      grid-row-gap: 50px;

      img {
        height: 70px;
      }
    }
  }
}
